<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table table-responsive-md table-hover">
        <thead>
          <tr>
            <th>Group Name</th>
            <th>Members</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of groups" [routerLink]="['detail',group._id]" routerLinkActive="table-primary">
            <td>{{group.name}}</td>
            <td>{{group.members}}</td>
          </tr>
        </tbody>
      </table>
      <a class="btn btn-primary float-right" [routerLink]="['detail','new']">+</a>
      <div style="clear: both">
        <app-group-invites></app-group-invites>
      </div>
    </div>
    <div [class.col]="isDetail()">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
