<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (click)="previous()">Previous</button>
  </div>
  <div class="col-6">
    <h2 class="text-center">{{ viewDate | calendarDate:(view+ 'ViewTitle'):'en' }}</h2>
  </div>
  <div class="col-3">
    <button class="btn btn-primary float-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (click)="next()">Next</button>
  </div>
</div>
<div class="text-center">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="view">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="month"> Month
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="week"> Week
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="day"> Day
    </label>
  </div>
</div>
<div class="float-right">
  <button class="btn btn-primary" (click)="open(calendarModal)">Share</button>
</div>
<div [ngSwitch]="view" style="clear: both">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [cellTemplate]="customCellTemplate" [events] ="events" [refresh] = "refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
</mwl-calendar-month-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events] ="events" [refresh] = "refresh" (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-day-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events] ="events" [refresh] = "refresh" (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-week-view>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">Create Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Event name:</label>
      <input type="text" class="form-control" [(ngModel)]="eventName" name="eventName">
    </div>
    <div>
      <div class="form-group">
        <label>Start Time and Day:</label>
        <input type="date" [(ngModel)]="defaultStartDate" name="start" class="form-control">
        <input type="time" [(ngModel)]="startTime" name="usr_time" class="form-control">
      </div>
      <div class="form-group">
        <label>End Time and Day:</label>
        <input type="date" [(ngModel)]="defaultEndDate" name="end" class="form-control">
        <input type="time" [(ngModel)]="endTime" name="usr_time" class="form-control">
      </div>
      <div class="form-group">
        <label>Location</label>
        <input type="text" [(ngModel)]="location" name="location" class="form-control">
      </div>
      <div class="form-group">
        <label>Description</label>
        <input type="text" [(ngModel)]="description" name="description" class="form-control">
      </div>
      <div *ngIf="addEventError" style="color: red">{{addEventError}}</div>
      <button type="button" class="btn btn-outline-primary float-right" [disabled]="!this.defaultStartDate || !this.startTime || !this.endTime || !this.defaultEndDate" (click)="addEvent()">{{ editFlag ? 'Update' : 'Add Event' }} </button>
      <!-- <button type="button" class="btn btn-outline-primary float-right" [disabled]="!this.defaultStartDate || !this.startTime || !this.endTime || !this.defaultEndDate || !this.eventName" (click)="addEvent()">{{ editFlag ? 'Update' : 'Add Event' }} </button> -->
    </div>
  </div>
  
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<form>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div appHoverEvent [button]="btn">
      <div class="cal-cell-top" >
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <button #btn class="btn btn-sm btn-outline-primary d-block mx-auto" (click)="open(content)" (click)="setUpDates(day.date, day.date)">Create Event</button>
      <pre>{{closeResult}}</pre>
    </div>
  </ng-template>
</form>
<ng-template #calendarModal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Share Calendar</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Calendar to Share</label>
        <select [(ngModel)]="calendarToShare" class="form-control">
          <option *ngFor="let calendar of (eventObservable | async)" [ngValue]="calendar._id">{{calendar.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Add member</label>
        <input name="newMember" [formControl]="newMember" class="form-control">
        <button class="btn btn-primary" (click)="addMember()"> Add </button>
        <!-- <input name="newMember" [formControl]="newMember" class="form-control" [ngbTypeahead]="search" [inputFormatter]="formatter" [resultTemplate]="rt" (selectItem)="select($event)"> -->
      </div>
      <div class="form-group">
        <label>Search By Group</label>
        <input name="group" [formControl]="group" class="form-control" [ngbTypeahead]="searchGroup" [inputFormatter]="formatter" [resultTemplate]="gp" (selectItem)="selectGroup($event)">
      </div>
      <ng-template #rt let-r="result" let-t="term">
        {{r?.email}}
      </ng-template>
      <ng-template #gp let-r="result" let-t="term">
        {{r?.name}}
      </ng-template>
      <ul class="list-group">
        <li *ngFor="let member of members" class="list-group-item">{{member.email}}</li>
      </ul>
      <button class="btn btn-primary" [disabled]="!calendarToShare || !members.length" (click)="shareCalendar()">Share</button>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
    </div>
  </ng-template>
  
