<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">Previous</button>
  </div>
  <div class="col-6">
    <h2 class="text-center">{{ viewDate | calendarDate:(view+ 'ViewTitle'):'en' }}</h2>
  </div>
  <div class="col-3">
    <button class="btn btn-primary float-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">Next</button>
  </div>
</div>
<div class="text-center">
  <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic" [(ngModel)]="view">
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="month"> Month
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="week"> Week
    </label>
    <label ngbButtonLabel class="btn-primary">
      <input ngbButton type="radio" value="day"> Day
    </label>
  </div>
</div>
<div [ngSwitch]="view">
  <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [cellTemplate]="customCellTemplate" [events] ="events" [refresh] = "refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)">
</mwl-calendar-month-view>
  <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events] ="events" [refresh] = "refresh" (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-day-view>
  <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events] ="events" [refresh] = "refresh" (dayClicked)="dayClicked($event.day)">
  </mwl-calendar-week-view>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header" >
    <h4 class="modal-title">Create Event</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Event name:<br>
    <input type="text" [(ngModel)]="eventName" name="eventName"><br>
    Start Time and Day: <br>
    <input type="date" [(ngModel)]="defaultStartDate" name="start"><br>
    <input type="time" [(ngModel)]="startTime" name="usr_time"><br>
    End Time and Day: <br>
    <input type="date" [(ngModel)]="defaultEndDate" name="end"><br>
    <input type="time" [(ngModel)]="endTime" name="usr_time">
    <div *ngIf="addEventError" style="color: red">{{addEventError}}</div>
    <br><button type="button" class="btn btn-outline-dark" (click)="addEvent()">Add Event</button><br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
<form>
  <ng-template #customCellTemplate let-day="day" let-locale="locale">
    <div appHoverEvent [button]="btn">
      <div class="cal-cell-top" >
        <span class="cal-day-badge" *ngIf="day.badgeTotal > 0">{{ day.badgeTotal }}</span>
        <span class="cal-day-number">{{ day.date | calendarDate:'monthViewDayNumber':locale }}</span>
      </div>
      <button #btn class="btn btn-sm btn-outline-primary d-block mx-auto" (click)="open(content)" (click)="setUpDates(day.date)">Create Event</button>
      <pre>{{closeResult}}</pre>
    </div>
  </ng-template>
</form>
