<div class="row">
  <div class="col-3">
    <button class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate">Previous</button>
  </div>
  <div class="col-6">
    <h2 class="text-center">{{ viewDate | calendarDate:(view+ 'ViewTitle'):'en' }}</h2>
  </div>
  <div class="col-3">
    <button class="btn btn-primary float-right" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate">Next</button>
  </div>
</div>
<mwl-calendar-month-view [viewDate]="viewDate" (dayClicked)="handleDay($event.day)">
</mwl-calendar-month-view>
