/* You can add global styles to this file, and also import other style files */
@import '~angular-calendar/css/angular-calendar.css';
@import '~bootstrap/dist/css/bootstrap.css';
.row {
    margin: 0;
    padding: 0;
}
mwl-calendar-month-cell {
    width: 12%;
}